body{
    background-image: url(https://img.freepik.com/fotos-premium/fundo-abstrato-preto-pontos-brancos-em-um-fundo-preto_73152-5632.jpg?w=740);
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "price price price"
    "pe pe pe";
}

.cabeca{
    grid-area: cabe;
}

.fotos-header{
    justify-content: space-around;
    display: flex;
    border-radius: 20px;
    border: 4px solid beige;
}

.prince{
    grid-area: prici;
}

.tisub{
    color: white;
    text-align: center;
}

.Texto-B{
    border: 4px solid beige;
    margin: 100px;
    text-align: center;
    display: bloc;
}

.imgp1{
    border-radius: 20%;
    width: 40%;
}

.imgp2{
    border-radius: 40px;
    width: 40%;
}

.pmain{
    display: block;
    font-size: larger;
    color: white;
    text-align: justify;
    margin: 50px;
}

.footer{
    text-align: center;
    border: 4px solid beige;
}

li{
    display: inline;
    font-size: larger;
    font: bold;
    margin: 90px;
}


.textoN{
    display: block;
    font-size: larger;
    color: white;
    text-align: justify;
    margin: 50px;
    border: 4px solid beige;
    padding: 20px;
}

.fotoN{
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
}

.footer{
    grid-area: pe;
}
