body{
    background-image: url(https://img.freepik.com/fotos-premium/fundo-abstrato-preto-pontos-brancos-em-um-fundo-preto_73152-5632.jpg?w=740);
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "price price price"
    "pe pe pe";
}

.logo{
    border-radius: 50%;
    width: 250px;
    margin-left: 80%;
    border: 4px solid beige;

}

.cabeca{
    grid-area: cabe;
    grid-column: 1;
    border: 4px solid beige;

}

    
.fotos-header{
    display: flex;
    margin: 50px;
    margin-left: 25%;    
}


.prince{
    grid-area: prici;
}

.video{
    display: block;
    margin-left: 5%;
}

.tisub{
    color: white;
    text-align: center;
}

.Texto-B{
    border: 4px solid beige;
    margin: 100px;
    text-align: center;
    display: bloc;
}

.Texto-side{
    color: white;
    margin: 90px;
    width: 450px;
    text-align: justify;

}


.imgp1{
    width: 40%;
    margin-left: 30%;
}

.imgp2{
    border-radius: 40px;
    width: 40%;
}

.pmain{
    display: block;
    font-size: larger;
    color: white;
    text-align: justify;
    margin: 50px;
}

.footer{
    text-align: center;
    border: 4px solid beige;
}

li{
    display: inline;
    font-size: larger;
    font: bold;
    margin: 90px;
}


.textoN{
    display: block;
    font-size: larger;
    color: white;
    text-align: justify;
    margin: 50px;
    border: 4px solid beige;
    padding: 20px;
}

.fotoN{
    width: 30%;
    margin-left: 35%;
    border-radius: 20px;
}

.footer{
    grid-area: pe;
}

